<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit blog</title>
</head>
<body>
<form action="/blog/editBlog" method="post" th:object="${blog}">
  <input type="hidden" th:field="*{id}">
  <div>
    <label>Name of the blog</label>
    <input type="text" th:field="*{nameBlog}" th:text="${blog.nameBlog}">
  </div>
  <div>
    <label>Content</label>
    <input type="text" th:field="*{contentBlog}" th:text="${blog.contentBlog}">
  </div>
  <div>
    <label>Author</label>
    <input type="text" th:field="*{authorBlog}" th:text="${blog.authorBlog}">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
</body>
</html>